# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [2]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [3]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [4]:
print(next(iterator))

3

In [5]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [6]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [10]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    for val_iter in iterator:
        if val_iter%2 == 0:
            y = val_iter
            break
        else:
            y = 0
    return y

iterator = iter([1,2,3])
divisible2(iterator)

2

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [11]:
def firstn(n):
     number = 0
     while number < n:
         yield number

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [12]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [31]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator

    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])

    # Your code here:
    iterator = 'iter(['
    i = 0
    while i < n:
        iterator += str(i)
        if i < n-1:
            iterator += ','
        i += 2
    iterator += '])'
    return iterator

print(even_iterator(5))

iter([0,2,4])

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [33]:
import pandas as pd
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [34]:
# Your code here:
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [36]:
# Your code here:
import numpy as np
np.mean(iris)

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [ ]:
# numpy mean function calculate mean of each numeric columns.

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [37]:
# Your code here:
np.std(iris)

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

In [ ]:
# numpy std function calculate standar deviation of each numeric columns.

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [39]:
# Your code here:
iris_numeric = iris.select_dtypes(include=np.number)
iris_numeric

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [55]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    inches = 0.393701
    return x * inches

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [57]:
# Your code here:
iris_inches = [cm_to_in(val) for col in list(iris_numeric.columns) for val in iris_numeric[col]]
print(iris_inches)

[2.0078751, 1.9291349000000002, 1.8503947000000003, 1.8110245999999999, 1.9685050000000002, 2.1259854000000002, 1.8110245999999999, 1.9685050000000002, 1.7322844000000002, 1.9291349000000002, 2.1259854000000002, 1.8897648, 1.8897648, 1.6929143, 2.2834658, 2.2440957000000004, 2.1259854000000002, 2.0078751, 2.2440957000000004, 2.0078751, 2.1259854000000002, 2.0078751, 1.8110245999999999, 2.0078751, 1.8897648, 1.9685050000000002, 1.9685050000000002, 2.0472452000000003, 2.0472452000000003, 1.8503947000000003, 1.8897648, 2.1259854000000002, 2.0472452000000003, 2.1653555, 1.9291349000000002, 1.9685050000000002, 2.1653555, 1.9291349000000002, 1.7322844000000002, 2.0078751, 1.9685050000000002, 1.7716545000000001, 1.7322844000000002, 1.9685050000000002, 2.0078751, 1.8897648, 2.0078751, 1.8110245999999999, 2.0866153, 1.9685050000000002, 2.755907, 2.5196864000000003, 2.7165369000000004, 2.1653555, 2.5590565, 2.2440957000000004, 2.4803163, 1.9291349000000002, 2.5984266, 2.0472452000000003, 1.9685050000000002, 2.3228359000000003, 2.362206, 2.4015761, 2.2047256, 2.6377967000000004, 2.2047256, 2.2834658, 2.4409462000000004, 2.2047256, 2.3228359000000003, 2.4015761, 2.4803163, 2.4015761, 2.5196864000000003, 2.5984266, 2.6771668, 2.6377967000000004, 2.362206, 2.2440957000000004, 2.1653555, 2.1653555, 2.2834658, 2.362206, 2.1259854000000002, 2.362206, 2.6377967000000004, 2.4803163, 2.2047256, 2.1653555, 2.1653555, 2.4015761, 2.2834658, 1.9685050000000002, 2.2047256, 2.2440957000000004, 2.2440957000000004, 2.4409462000000004, 2.0078751, 2.2440957000000004, 2.4803163, 2.2834658, 2.7952771, 2.4803163, 2.5590565, 2.9921276, 1.9291349000000002, 2.8740173, 2.6377967000000004, 2.8346472, 2.5590565, 2.5196864000000003, 2.6771668, 2.2440957000000004, 2.2834658, 2.5196864000000003, 2.5590565, 3.0314977, 3.0314977, 2.362206, 2.7165369000000004, 2.2047256, 3.0314977, 2.4803163, 2.6377967000000004, 2.8346472, 2.4409462000000004, 2.4015761, 2.5196864000000003, 2.8346472, 2.9133874000000004, 3.1102379000000004, 2.5196864000000003, 2.4803163, 2.4015761, 3.0314977, 2.4803163, 2.5196864000000003, 2.362206, 2.7165369000000004, 2.6377967000000004, 2.7165369000000004, 2.2834658, 2.6771668, 2.6377967000000004, 2.6377967000000004, 2.4803163, 2.5590565, 2.4409462000000004, 2.3228359000000003, 1.3779535, 1.181103, 1.2598432000000002, 1.2204731000000002, 1.4173236, 1.5354339000000001, 1.3385834, 1.3385834, 1.1417329, 1.2204731000000002, 1.4566937000000002, 1.3385834, 1.181103, 1.181103, 1.574804, 1.7322844000000002, 1.5354339000000001, 1.3779535, 1.4960638, 1.4960638, 1.3385834, 1.4566937000000002, 1.4173236, 1.2992133, 1.3385834, 1.181103, 1.3385834, 1.3779535, 1.3385834, 1.2598432000000002, 1.2204731000000002, 1.3385834, 1.6141741, 1.6535442000000002, 1.2204731000000002, 1.2598432000000002, 1.3779535, 1.2204731000000002, 1.181103, 1.3385834, 1.3779535, 0.9055122999999999, 1.2598432000000002, 1.3779535, 1.4960638, 1.181103, 1.4960638, 1.2598432000000002, 1.4566937000000002, 1.2992133, 1.2598432000000002, 1.2598432000000002, 1.2204731000000002, 0.9055122999999999, 1.1023628, 1.1023628, 1.2992133, 0.9448824, 1.1417329, 1.0629927000000001, 0.787402, 1.181103, 0.8661422000000001, 1.1417329, 1.1417329, 1.2204731000000002, 1.181103, 1.0629927000000001, 0.8661422000000001, 0.9842525000000001, 1.2598432000000002, 1.1023628, 0.9842525000000001, 1.1023628, 1.1417329, 1.181103, 1.1023628, 1.181103, 1.1417329, 1.0236226000000002, 0.9448824, 0.9448824, 1.0629927000000001, 1.0629927000000001, 1.181103, 1.3385834, 1.2204731000000002, 0.9055122999999999, 1.181103, 0.9842525000000001, 1.0236226000000002, 1.181103, 1.0236226000000002, 0.9055122999999999, 1.0629927000000001, 1.181103, 1.1417329, 1.1417329, 0.9842525000000001, 1.1023628, 1.2992133, 1.0629927000000001, 1.181103, 1.1417329, 1.181103, 1.181103, 0.9842525000000001, 1.1417329, 0.9842525000000001, 1.4173236, 1.2598432000000002, 1.0629927000000001, 1.181103, 0.9842525000000001, 1.1023628, 1.2598432000000002, 1.181103, 1.4960638, 1.0236226000000002, 0.8661422000000001, 1.2598432000000002, 1.1023628, 1.1023628, 1.0629927000000001, 1.2992133, 1.2598432000000002, 1.1023628, 1.181103, 1.1023628, 1.181103, 1.1023628, 1.4960638, 1.1023628, 1.1023628, 1.0236226000000002, 1.181103, 1.3385834, 1.2204731000000002, 1.181103, 1.2204731000000002, 1.2204731000000002, 1.2204731000000002, 1.0629927000000001, 1.2598432000000002, 1.2992133, 1.181103, 0.9842525000000001, 1.181103, 1.3385834, 1.181103, 0.5511814, 0.5511814, 0.5118113000000001, 0.5905515, 0.5511814, 0.6692917, 0.5511814, 0.5905515, 0.5511814, 0.5905515, 0.5905515, 0.6299216000000001, 0.5511814, 0.43307110000000004, 0.4724412, 0.5905515, 0.5118113000000001, 0.5511814, 0.6692917, 0.5905515, 0.6692917, 0.5905515, 0.393701, 0.6692917, 0.7480319, 0.6299216000000001, 0.6299216000000001, 0.5905515, 0.5511814, 0.6299216000000001, 0.6299216000000001, 0.5905515, 0.5905515, 0.5511814, 0.5905515, 0.4724412, 0.5118113000000001, 0.5905515, 0.5118113000000001, 0.5905515, 0.5118113000000001, 0.5118113000000001, 0.5118113000000001, 0.6299216000000001, 0.7480319, 0.5511814, 0.6299216000000001, 0.5511814, 0.5905515, 0.5511814, 1.8503947000000003, 1.7716545000000001, 1.9291349000000002, 1.574804, 1.8110245999999999, 1.7716545000000001, 1.8503947000000003, 1.2992133, 1.8110245999999999, 1.5354339000000001, 1.3779535, 1.6535442000000002, 1.574804, 1.8503947000000003, 1.4173236, 1.7322844000000002, 1.7716545000000001, 1.6141741, 1.7716545000000001, 1.5354339000000001, 1.8897648, 1.574804, 1.9291349000000002, 1.8503947000000003, 1.6929143, 1.7322844000000002, 1.8897648, 1.9685050000000002, 1.7716545000000001, 1.3779535, 1.4960638, 1.4566937000000002, 1.5354339000000001, 2.0078751, 1.7716545000000001, 1.7716545000000001, 1.8503947000000003, 1.7322844000000002, 1.6141741, 1.574804, 1.7322844000000002, 1.8110245999999999, 1.574804, 1.2992133, 1.6535442000000002, 1.6535442000000002, 1.6535442000000002, 1.6929143, 1.181103, 1.6141741, 2.362206, 2.0078751, 2.3228359000000003, 2.2047256, 2.2834658, 2.5984266, 1.7716545000000001, 2.4803163, 2.2834658, 2.4015761, 2.0078751, 2.0866153, 2.1653555, 1.9685050000000002, 2.0078751, 2.0866153, 2.1653555, 2.6377967000000004, 2.7165369000000004, 1.9685050000000002, 2.2440957000000004, 1.9291349000000002, 2.6377967000000004, 1.9291349000000002, 2.2440957000000004, 2.362206, 1.8897648, 1.9291349000000002, 2.2047256, 2.2834658, 2.4015761, 2.5196864000000003, 2.2047256, 2.0078751, 2.2047256, 2.4015761, 2.2047256, 2.1653555, 1.8897648, 2.1259854000000002, 2.2047256, 2.0078751, 2.0078751, 2.3228359000000003, 2.2440957000000004, 2.0472452000000003, 1.9685050000000002, 2.0472452000000003, 2.1259854000000002, 2.0078751, 0.07874020000000001, 0.07874020000000001, 0.07874020000000001, 0.07874020000000001, 0.07874020000000001, 0.15748040000000002, 0.1181103, 0.07874020000000001, 0.07874020000000001, 0.039370100000000005, 0.07874020000000001, 0.07874020000000001, 0.039370100000000005, 0.039370100000000005, 0.07874020000000001, 0.15748040000000002, 0.15748040000000002, 0.1181103, 0.1181103, 0.1181103, 0.07874020000000001, 0.15748040000000002, 0.07874020000000001, 0.1968505, 0.07874020000000001, 0.07874020000000001, 0.15748040000000002, 0.07874020000000001, 0.07874020000000001, 0.07874020000000001, 0.07874020000000001, 0.15748040000000002, 0.039370100000000005, 0.07874020000000001, 0.039370100000000005, 0.07874020000000001, 0.07874020000000001, 0.039370100000000005, 0.07874020000000001, 0.07874020000000001, 0.1181103, 0.1181103, 0.07874020000000001, 0.2362206, 0.15748040000000002, 0.1181103, 0.07874020000000001, 0.07874020000000001, 0.07874020000000001, 0.07874020000000001, 0.5511814, 0.5905515, 0.5905515, 0.5118113000000001, 0.5905515, 0.5118113000000001, 0.6299216000000001, 0.393701, 0.5118113000000001, 0.5511814, 0.393701, 0.5905515, 0.393701, 0.5511814, 0.5118113000000001, 0.5511814, 0.5905515, 0.393701, 0.5905515, 0.43307110000000004, 0.7086618, 0.5118113000000001, 0.5905515, 0.4724412, 0.5118113000000001, 0.5511814, 0.5511814, 0.6692917, 0.5905515, 0.393701, 0.43307110000000004, 0.393701, 0.4724412, 0.6299216000000001, 0.5905515, 0.6299216000000001, 0.5905515, 0.5118113000000001, 0.5118113000000001, 0.5118113000000001, 0.4724412, 0.5511814, 0.4724412, 0.393701, 0.5118113000000001, 0.4724412, 0.5118113000000001, 0.5118113000000001, 0.43307110000000004, 0.5118113000000001, 0.9842525000000001, 0.7480319, 0.8267721000000001, 0.7086618, 0.8661422000000001, 0.8267721000000001, 0.6692917, 0.7086618, 0.7086618, 0.9842525000000001, 0.787402, 0.7480319, 0.8267721000000001, 0.787402, 0.9448824, 0.9055122999999999, 0.7086618, 0.8661422000000001, 0.9055122999999999, 0.5905515, 0.9055122999999999, 0.787402, 0.787402, 0.7086618, 0.8267721000000001, 0.7086618, 0.7086618, 0.7086618, 0.8267721000000001, 0.6299216000000001, 0.7480319, 0.787402, 0.8661422000000001, 0.5905515, 0.5511814, 0.9055122999999999, 0.9448824, 0.7086618, 0.7086618, 0.8267721000000001, 0.9448824, 0.9055122999999999, 0.7480319, 0.9055122999999999, 0.9842525000000001, 0.9055122999999999, 0.7480319, 0.787402, 0.9055122999999999, 0.7086618]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [62]:
# Define constant below:
g_error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + g_error
    
iris_constant = [add_constant(val) for col in list(iris_numeric.columns) for val in iris_numeric[col]]
print(iris_constant)

[7.1, 6.9, 6.7, 6.6, 7.0, 7.4, 6.6, 7.0, 6.4, 6.9, 7.4, 6.8, 6.8, 6.3, 7.8, 7.7, 7.4, 7.1, 7.7, 7.1, 7.4, 7.1, 6.6, 7.1, 6.8, 7.0, 7.0, 7.2, 7.2, 6.7, 6.8, 7.4, 7.2, 7.5, 6.9, 7.0, 7.5, 6.9, 6.4, 7.1, 7.0, 6.5, 6.4, 7.0, 7.1, 6.8, 7.1, 6.6, 7.3, 7.0, 9.0, 8.4, 8.9, 7.5, 8.5, 7.7, 8.3, 6.9, 8.6, 7.2, 7.0, 7.9, 8.0, 8.1, 7.6, 8.7, 7.6, 7.8, 8.2, 7.6, 7.9, 8.1, 8.3, 8.1, 8.4, 8.6, 8.8, 8.7, 8.0, 7.7, 7.5, 7.5, 7.8, 8.0, 7.4, 8.0, 8.7, 8.3, 7.6, 7.5, 7.5, 8.1, 7.8, 7.0, 7.6, 7.7, 7.7, 8.2, 7.1, 7.7, 8.3, 7.8, 9.1, 8.3, 8.5, 9.6, 6.9, 9.3, 8.7, 9.2, 8.5, 8.4, 8.8, 7.7, 7.8, 8.4, 8.5, 9.7, 9.7, 8.0, 8.9, 7.6, 9.7, 8.3, 8.7, 9.2, 8.2, 8.1, 8.4, 9.2, 9.4, 9.9, 8.4, 8.3, 8.1, 9.7, 8.3, 8.4, 8.0, 8.9, 8.7, 8.9, 7.8, 8.8, 8.7, 8.7, 8.3, 8.5, 8.2, 7.9, 5.5, 5.0, 5.2, 5.1, 5.6, 5.9, 5.4, 5.4, 4.9, 5.1, 5.7, 5.4, 5.0, 5.0, 6.0, 6.4, 5.9, 5.5, 5.8, 5.8, 5.4, 5.7, 5.6, 5.3, 5.4, 5.0, 5.4, 5.5, 5.4, 5.2, 5.1, 5.4, 6.1, 6.2, 5.1, 5.2, 5.5, 5.1, 5.0, 5.4, 5.5, 4.3, 5.2, 5.5, 5.8, 5.0, 5.8, 5.2, 5.7, 5.3, 5.2, 5.2, 5.1, 4.3, 4.8, 4.8, 5.3, 4.4, 4.9, 4.7, 4.0, 5.0, 4.2, 4.9, 4.9, 5.1, 5.0, 4.7, 4.2, 4.5, 5.2, 4.8, 4.5, 4.8, 4.9, 5.0, 4.8, 5.0, 4.9, 4.6, 4.4, 4.4, 4.7, 4.7, 5.0, 5.4, 5.1, 4.3, 5.0, 4.5, 4.6, 5.0, 4.6, 4.3, 4.7, 5.0, 4.9, 4.9, 4.5, 4.8, 5.3, 4.7, 5.0, 4.9, 5.0, 5.0, 4.5, 4.9, 4.5, 5.6, 5.2, 4.7, 5.0, 4.5, 4.8, 5.2, 5.0, 5.8, 4.6, 4.2, 5.2, 4.8, 4.8, 4.7, 5.3, 5.2, 4.8, 5.0, 4.8, 5.0, 4.8, 5.8, 4.8, 4.8, 4.6, 5.0, 5.4, 5.1, 5.0, 5.1, 5.1, 5.1, 4.7, 5.2, 5.3, 5.0, 4.5, 5.0, 5.4, 5.0, 3.4, 3.4, 3.3, 3.5, 3.4, 3.7, 3.4, 3.5, 3.4, 3.5, 3.5, 3.6, 3.4, 3.1, 3.2, 3.5, 3.3, 3.4, 3.7, 3.5, 3.7, 3.5, 3.0, 3.7, 3.9, 3.6, 3.6, 3.5, 3.4, 3.6, 3.6, 3.5, 3.5, 3.4, 3.5, 3.2, 3.3, 3.5, 3.3, 3.5, 3.3, 3.3, 3.3, 3.6, 3.9, 3.4, 3.6, 3.4, 3.5, 3.4, 6.7, 6.5, 6.9, 6.0, 6.6, 6.5, 6.7, 5.3, 6.6, 5.9, 5.5, 6.2, 6.0, 6.7, 5.6, 6.4, 6.5, 6.1, 6.5, 5.9, 6.8, 6.0, 6.9, 6.7, 6.3, 6.4, 6.8, 7.0, 6.5, 5.5, 5.8, 5.7, 5.9, 7.1, 6.5, 6.5, 6.7, 6.4, 6.1, 6.0, 6.4, 6.6, 6.0, 5.3, 6.2, 6.2, 6.2, 6.3, 5.0, 6.1, 8.0, 7.1, 7.9, 7.6, 7.8, 8.6, 6.5, 8.3, 7.8, 8.1, 7.1, 7.3, 7.5, 7.0, 7.1, 7.3, 7.5, 8.7, 8.9, 7.0, 7.7, 6.9, 8.7, 6.9, 7.7, 8.0, 6.8, 6.9, 7.6, 7.8, 8.1, 8.4, 7.6, 7.1, 7.6, 8.1, 7.6, 7.5, 6.8, 7.4, 7.6, 7.1, 7.1, 7.9, 7.7, 7.2, 7.0, 7.2, 7.4, 7.1, 2.2, 2.2, 2.2, 2.2, 2.2, 2.4, 2.3, 2.2, 2.2, 2.1, 2.2, 2.2, 2.1, 2.1, 2.2, 2.4, 2.4, 2.3, 2.3, 2.3, 2.2, 2.4, 2.2, 2.5, 2.2, 2.2, 2.4, 2.2, 2.2, 2.2, 2.2, 2.4, 2.1, 2.2, 2.1, 2.2, 2.2, 2.1, 2.2, 2.2, 2.3, 2.3, 2.2, 2.6, 2.4, 2.3, 2.2, 2.2, 2.2, 2.2, 3.4, 3.5, 3.5, 3.3, 3.5, 3.3, 3.6, 3.0, 3.3, 3.4, 3.0, 3.5, 3.0, 3.4, 3.3, 3.4, 3.5, 3.0, 3.5, 3.1, 3.8, 3.3, 3.5, 3.2, 3.3, 3.4, 3.4, 3.7, 3.5, 3.0, 3.1, 3.0, 3.2, 3.6, 3.5, 3.6, 3.5, 3.3, 3.3, 3.3, 3.2, 3.4, 3.2, 3.0, 3.3, 3.2, 3.3, 3.3, 3.1, 3.3, 4.5, 3.9, 4.1, 3.8, 4.2, 4.1, 3.7, 3.8, 3.8, 4.5, 4.0, 3.9, 4.1, 4.0, 4.4, 4.3, 3.8, 4.2, 4.3, 3.5, 4.3, 4.0, 4.0, 3.8, 4.1, 3.8, 3.8, 3.8, 4.1, 3.6, 3.9, 4.0, 4.2, 3.5, 3.4, 4.3, 4.4, 3.8, 3.8, 4.1, 4.4, 4.3, 3.9, 4.3, 4.5, 4.3, 3.9, 4.0, 4.3, 3.8]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [70]:
# Your code here:
def max_value_row(df):
    max_val = df.apply(np.max, axis=1)
    return(max_val)

print(max_value_row(iris_numeric))

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Length: 150, dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [73]:
iris_numeric

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [92]:
# Your code here:
def sum_value(df):
    sum_val = df.apply(np.sum, axis=1)
    return(sum_val)

total_length   = sum_value(iris_numeric[['sepal_length','petal_length']])
print(total_length)

total_width   = sum_value(iris_numeric[['sepal_width','petal_width']])
print(total_width)

0       6.5
1       6.3
2       6.0
3       6.1
4       6.4
       ...
145    11.9
146    11.3
147    11.7
148    11.6
149    11.0
Length: 150, dtype: float64
0      3.7
1      3.2
2      3.4
3      3.3
4      3.8
      ...
145    5.3
146    4.4
147    5.0
148    5.7
149    4.8
Length: 150, dtype: float64